[submodule "angular-16-dashboard"]
	path = angular-16-dashboard
	url = https://github.com/AndresOrozcoDev/angular-16-dashboard.git
[submodule "fastapi-dashboard"]
	path = fastapi-dashboard
	url = https://github.com/AndresOrozcoDev/fastapi-dashboard.git
[submodule "express-dashboard"]
	path = express-dashboard
	url = https://github.com/AndresOrozcoDev/express-dashboard.git
[submodule "react-18-dashboard"]
	path = react-18-dashboard
	url = https://github.com/AndresOrozcoDev/react-18-dashboard.git
